@use "../abstracts/mixins";

.details {
    line-height: 1.4;
    font-size: 1.4rem;
    font-family: "open-sans";
}

.details header {
    display: flex;

    @include mixins.respond(phone) {
        flex-direction: column;
    }
}

.details section {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include mixins.respond(phone) {
        padding: 2rem;
    }

    & p {
        font-size: 2rem;
        // text-align: justify;
    }
}

.details img {
    width: 35%;

    @include mixins.respond(phone) {
        width: 60%;
        margin: 0 auto;
    }
}

.details-overview {
    max-width: 100%;
    padding: 2.4rem 3rem;
    background-color: var(--color-background-100);
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.details-overview h2 {
    font-size: 2.4rem;
    margin-bottom: 0.4rem;
    line-height: 1.1;

    @include mixins.respond(phone) {
        line-height: 1.5;
    }
}

.details-overview p {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    // gap: 0.6rem;
}

.details-star {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-add {
    text-transform: uppercase;
    letter-spacing: 1px;

    &:active {
        background-color: rebeccapurple;
    }
}