@use "../abstracts/mixins";

.nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 7.2rem;
    padding: 0 3.2rem;
    background-color: var(--color-primary);
    border-radius: 0.9rem;

    @include mixins.respond(phone) {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}